.cart {
    position: fixed;
    top: 0;
    right: -25vw;
    width: 25vw;
    height: 100vh;
    overflow: auto;
    background: #000;
    z-index: 5;
    color: white;
    transition: all 0.5s;
    padding:2rem;

    >div {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    a {
        color: white;
        &.button{
            display: block;
            text-align: center;
        }
    }

    &.visible {
        right: 0;
    }
    ul,li{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul{
        flex-grow: 1;
        
        .product_card {
            display: flex;
            align-items: center;
            img {
                width: 100px;
            }
        }
    }
}