.cart {
    position: fixed;
    top: 0;
    right: -25vw;
    width: 25vw;
    height: 100vh;
    overflow: auto;
    background: #000;
    z-index: 5;
    color: white;
    transition: all 0.5s;
    padding: 2rem;

    &.visible {
        right: 0;
    }

    &-inner {
        height: 100%;
        display: flex;
        flex-direction: column;

        .product_card {
            display: flex;
            align-items: center;

            img {
                width: 100px;
            }

            span {
                &.variant {
                    display: block;
                    font-size: 0.875rem;
                    margin: 0.675rem 0;
                }
            }
        }

        a {
            text-decoration: none;

            &.button {
                margin-top: auto;
            }
        }
    }

    a {
        color: white;

        &.button {
            display: block;
            text-align: center;
        }
    }
}