a {
    &.button{
        text-decoration: none;
        color: currentColor;
        &.secondary{
            width: 100%;
            padding: 1rem;
            background:#fff;
            color:#000;
        }
    }
}